<%- include('partials/head') %>

<article class="container	continer-md my-5">
  <h1>Subreddit</h1>
  <h2><%= name %></h2>
  <p><%= description %></p>
  <div class="info">
    <span><%= subscribers %> subscribing</span>
  </div>

  <hr>

  <ul>
    <% for (let post of posts){ %>
      <li>
        <article>
          <h3><%= post.title %></h3>
          <p><%= post.author %></p>
          <% if (post.img) { %>
            <img src="<%= post.img %>" alt="">
          <% } %>
        </article>
      </li>
    <% } %>
  </ul>
</article>

<%- include('partials/footer') %>
  